@import '../variables';

.modalUi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modalColorBg;
  padding: 40px;
  text-align: center;
  outline: 0;
  border-radius: 6px;
}